## Test Results

### 02/04/2023 
test result: FAILED. 1171 passed; 1757 failed; 0 ignored; 0 measured; 0 filtered out; finished in 20.42s
test result: FAILED. 1179 passed; 1748 failed; 0 ignored; 0 measured; 0 filtered out; finished in 20.21s
test result: FAILED. 1191 passed; 1736 failed; 0 ignored; 0 measured; 0 filtered out; finished in 21.01s

### 02/16/2023 
test result: FAILED. 1178 passed; 1748 failed; 0 ignored; 0 measured; 0 filtered out; finished in 19.76s
test result: FAILED. 1183 passed; 1743 failed; 0 ignored; 0 measured; 0 filtered out; finished in 19.84s
test result: FAILED. 1188 passed; 1738 failed; 0 ignored; 0 measured; 0 filtered out; finished in 35.76s
test result: FAILED. 1192 passed; 1734 failed; 0 ignored; 0 measured; 0 filtered out; finished in 21.64s

### 02/20/2023 
test result: FAILED. 1199 passed; 1727 failed; 0 ignored; 0 measured; 0 filtered out; finished in 30.66s
<!-- Modified ppu timing -->
test result: FAILED. 1200 passed; 1726 failed; 0 ignored; 0 measured; 0 filtered out; finished in 31.02s
<!-- Modified ppu memory access -->
test result: FAILED. 1230 passed; 1696 failed; 0 ignored; 0 measured; 0 filtered out; finished in 31.96s
<!-- Proper Stat IRQ blocking -->
test result: FAILED. 1294 passed; 1632 failed; 0 ignored; 0 measured; 0 filtered out; finished in 30.62s
<!-- Undocumented registers -->
test result: FAILED. 1311 passed; 1615 failed; 0 ignored; 0 measured; 0 filtered out; finished in 32.16s


test result: FAILED. 1291 passed; 1601 failed; 0 ignored; 0 measured; 0 filtered out; finished in 27.48s
test result: FAILED. 1292 passed; 1600 failed; 0 ignored; 0 measured; 0 filtered out; finished in 27.48s

test result: FAILED. 1289 passed; 1595 failed; 0 ignored; 0 measured; 0 filtered out; finished in 22.14s

<!-- Improved stop handling -->
test result: FAILED. 1292 passed; 1595 failed; 0 ignored; 0 measured; 0 filtered out; finished in 22.14s

<!-- Fixed incorrect flag bits -->
test result: FAILED. 1308 passed; 1582 failed; 0 ignored; 0 measured; 0 filtered out; finished in 10.23s

<!-- Added some missing mooneye tests -->
test result: FAILED. 1353 passed; 1601 failed; 0 ignored; 0 measured; 0 filtered out; finished in 11.46s

<!-- Added some missing gambatte tests -->
test result: FAILED. 1519 passed; 1756 failed; 0 ignored; 0 measured; 0 filtered out; finished in 12.26s

<!-- Fix timer timing in CGB double speed mode -->
test result: FAILED. 1530 passed; 1745 failed; 0 ignored; 0 measured; 0 filtered out; finished in 13.76s

<!-- Allow blarggs tests to run longer -->
test result: FAILED. 1531 passed; 1744 failed; 0 ignored; 0 measured; 0 filtered out; finished in 15.17s

<!-- Improve HDMA handling -->
test result: FAILED. 1540 passed; 1735 failed; 0 ignored; 0 measured; 0 filtered out; finished in 15.19s

<!-- Fixed speed switch delay + timer improvements -->
test result: FAILED. 1548 passed; 1727 failed; 0 ignored; 0 measured; 0 filtered out; finished in 13.97s

<!-- Fixed bad defaults for joypad byte -->
test result: FAILED. 1547 passed; 1728 failed; 0 ignored; 0 measured; 0 filtered out; finished in 26.63s

test result: FAILED. 1570 passed; 1705 failed; 0 ignored; 0 measured; 0 filtered out; finished in 12.45s

<!-- Made H-Blank timing based on OAM and Draw timing -->
test result: FAILED. 1596 passed; 1804 failed; 0 ignored; 0 measured; 0 filtered out; finished in 23.97s

<!-- Improved HDMA handling -->
test result: FAILED. 1606 passed; 1794 failed; 0 ignored; 0 measured; 0 filtered out; finished in 23.76s

<!-- Audio -->
test result: FAILED. 1628 passed; 1772 failed; 0 ignored; 0 measured; 0 filtered out; finished in 39.28s

<!-- Audio length control disables channel -->
test result: FAILED. 1628 passed; 1772 failed; 0 ignored; 0 measured; 0 filtered out; finished in 47.68s

<!-- Add GB-Microtest suite -->
test result: FAILED. 1841 passed; 2072 failed; 0 ignored; 0 measured; 0 filtered out; finished in 48.84s

<!-- Remove some Misc tests from Mooneye  -->
test result: FAILED. 1839 passed; 2062 failed; 0 ignored; 0 measured; 0 filtered out; finished in 43.92s

<!-- Further cut down on incompatible Mooneye tests -->
test result: FAILED. 1827 passed; 2074 failed; 0 ignored; 0 measured; 0 filtered out; finished in 45.61s


<!-- Further cut down on incompatible Mooneye tests -->
test result: FAILED. 1835 passed; 2066 failed; 0 ignored; 0 measured; 0 filtered out; finished in 46.33s

<!-- Passing ie_push tests -->
test result: FAILED. 1849 passed; 2052 failed; 0 ignored; 0 measured; 0 filtered out; finished in 52.51s

<!-- Don't set GBC/DMG modes on rom load -->
test result: FAILED. 1852 passed; 2053 failed; 0 ignored; 0 measured; 0 filtered out; finished in 17.74s

<!-- Disable non GCB mooneye tests -->
test result: FAILED. 1858 passed; 2047 failed; 0 ignored; 0 measured; 0 filtered out; finished in 18.00s

<!-- Support Audio Gambatte tests -->
test result: FAILED. 1918 passed; 1987 failed; 0 ignored; 0 measured; 0 filtered out; finished in 12.37s

<!-- Only test GCB mode for blarggs -->
test result: FAILED. 1915 passed; 1984 failed; 0 ignored; 0 measured; 0 filtered out; finished in 10.96s

<!-- Obscure Reset Behavior for Timer -->
test result: FAILED. 1913 passed; 1986 failed; 0 ignored; 0 measured; 0 filtered out; finished in 11.26s

<!-- Sub cycle timer timer TIMA writes -->
test result: FAILED. 1920 passed; 1979 failed; 0 ignored; 0 measured; 0 filtered out; finished in 11.84s

<!-- Fix mooneye not filtering GBC tests properly -->
test result: FAILED. 1924 passed; 1975 failed; 0 ignored; 0 measured; 0 filtered out; finished in 11.54s