## Test Results

### 02/04/2023 
test result: FAILED. 1171 passed; 1757 failed; 0 ignored; 0 measured; 0 filtered out; finished in 20.42s
test result: FAILED. 1179 passed; 1748 failed; 0 ignored; 0 measured; 0 filtered out; finished in 20.21s
test result: FAILED. 1191 passed; 1736 failed; 0 ignored; 0 measured; 0 filtered out; finished in 21.01s

### 02/16/2023 
test result: FAILED. 1178 passed; 1748 failed; 0 ignored; 0 measured; 0 filtered out; finished in 19.76s
test result: FAILED. 1183 passed; 1743 failed; 0 ignored; 0 measured; 0 filtered out; finished in 19.84s
test result: FAILED. 1188 passed; 1738 failed; 0 ignored; 0 measured; 0 filtered out; finished in 35.76s
test result: FAILED. 1192 passed; 1734 failed; 0 ignored; 0 measured; 0 filtered out; finished in 21.64s

### 02/20/2023 
test result: FAILED. 1199 passed; 1727 failed; 0 ignored; 0 measured; 0 filtered out; finished in 30.66s
<!-- Modified ppu timing -->
test result: FAILED. 1200 passed; 1726 failed; 0 ignored; 0 measured; 0 filtered out; finished in 31.02s
<!-- Modified ppu memory access -->
test result: FAILED. 1230 passed; 1696 failed; 0 ignored; 0 measured; 0 filtered out; finished in 31.96s
<!-- Proper Stat IRQ blocking -->
test result: FAILED. 1294 passed; 1632 failed; 0 ignored; 0 measured; 0 filtered out; finished in 30.62s
<!-- Undocumented registers -->
test result: FAILED. 1311 passed; 1615 failed; 0 ignored; 0 measured; 0 filtered out; finished in 32.16s


test result: FAILED. 1291 passed; 1601 failed; 0 ignored; 0 measured; 0 filtered out; finished in 27.48s
test result: FAILED. 1292 passed; 1600 failed; 0 ignored; 0 measured; 0 filtered out; finished in 27.48s

test result: FAILED. 1289 passed; 1595 failed; 0 ignored; 0 measured; 0 filtered out; finished in 22.14s

<!-- Improved stop handling -->
test result: FAILED. 1292 passed; 1595 failed; 0 ignored; 0 measured; 0 filtered out; finished in 22.14s

<!-- Fixed incorrect flag bits -->
test result: FAILED. 1308 passed; 1582 failed; 0 ignored; 0 measured; 0 filtered out; finished in 10.23s

<!-- Added some missing mooneye tests -->
test result: FAILED. 1353 passed; 1601 failed; 0 ignored; 0 measured; 0 filtered out; finished in 11.46s

<!-- Added some missing gambatte tests -->
test result: FAILED. 1519 passed; 1756 failed; 0 ignored; 0 measured; 0 filtered out; finished in 12.26s

<!-- Fix timer timing in CGB double speed mode -->
test result: FAILED. 1530 passed; 1745 failed; 0 ignored; 0 measured; 0 filtered out; finished in 13.76s

<!-- Allow blarggs tests to run longer -->
test result: FAILED. 1531 passed; 1744 failed; 0 ignored; 0 measured; 0 filtered out; finished in 15.17s

<!-- Improve HDMA handling -->
test result: FAILED. 1540 passed; 1735 failed; 0 ignored; 0 measured; 0 filtered out; finished in 15.19s

<!-- Fixed speed switch delay + timer improvements -->
test result: FAILED. 1548 passed; 1727 failed; 0 ignored; 0 measured; 0 filtered out; finished in 13.97s

<!-- Fixed bad defaults for joypad byte -->
test result: FAILED. 1547 passed; 1728 failed; 0 ignored; 0 measured; 0 filtered out; finished in 26.63s

test result: FAILED. 1570 passed; 1705 failed; 0 ignored; 0 measured; 0 filtered out; finished in 12.45s

<!-- Made H-Blank timing based on OAM and Draw timing -->
test result: FAILED. 1596 passed; 1804 failed; 0 ignored; 0 measured; 0 filtered out; finished in 23.97s

<!-- Improved HDMA handling -->
test result: FAILED. 1606 passed; 1794 failed; 0 ignored; 0 measured; 0 filtered out; finished in 23.76s

<!-- Audio -->
test result: FAILED. 1628 passed; 1772 failed; 0 ignored; 0 measured; 0 filtered out; finished in 39.28s

<!-- Audio length control disables channel -->
test result: FAILED. 1628 passed; 1772 failed; 0 ignored; 0 measured; 0 filtered out; finished in 47.68s

<!-- Add GB-Microtest suite -->
test result: FAILED. 1841 passed; 2072 failed; 0 ignored; 0 measured; 0 filtered out; finished in 48.84s