.collapsible>.content {
    max-height: 0px;
    transition: max-height 0.25s;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.collapsible>label::after {
    display: inline-block;
    content: ">";
    font-weight: bold;
    transition: transform 0.25s;
    margin-left: auto;
}

.collapsible>label {
    cursor: pointer;
    display: flex;
    background-color: #000B;
    padding: 0.5rem 1rem;
}

.collapsible[data-open]>label::after {
    transform: rotate(90deg);
}

.collapsible {
    margin: 0.5rem 0rem;
}